* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dce2e6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
  text-align: center;
  padding-top: 100px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #001f3f;
  color: #fff;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navBar {
  display: flex;
  gap: 140px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #dc1717;
}

.navBar a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.navBar a:hover {
  color: #ff4d4d;
}

#logo {
  opacity: 0.8;
}

.container {
  height: 600px;
  width: 100vw;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  background: #fff;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Make sure form is not too close to header */
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="text"]::placeholder {
  color: #999;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

#responseMessage {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}
