* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dce2e6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #20252c;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Navigation Bar */
.navBar {
  display: flex;
  gap: 140px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #dc1717;
}

.navBar a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.navBar a:hover {
  color: #ff4d4d;
}

#logo {
  opacity: 0.8;
}
